.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: inline-block;
    background-color: #FC9F5B;
}