@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: #FBFFF4;
}

.chart {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
  background: conic-gradient(#ff7f0e 30%, #2ca02c 30%);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #333;
}

.label {
  font-size: 40px;
  font-weight: bold;
  margin-right: 7rem;
  margin-top: 6rem;
}

@media screen and (min-width:1280px) {

  .chart {
    width: 600px;
    height: 600px;
    position: relative;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
    background: conic-gradient(#ff7f0e 30%, #2ca02c 30%);
  }

  .label {
    font-size: 80px;
    font-weight: bold;
    margin-right: 14rem;
    margin-top: 12rem;
  }

}