
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap');

.header{
    border-bottom: 1px solid #E2E8F0;
}

.space{
    background-color: #FBFFF4;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar {
    display: flex;
    padding-bottom: 1em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #595959;
    border-bottom: 5px 0px 0px #00A375;
    border-top: solid 5px #FC9F5B ;
    box-shadow: 0 5px 0px #00A375,
                /* extra shadow :3*/
                0 0 25px #000000;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navitem {
    margin-right: 2rem;
}

.signup {
    font-size: 1.4rem;
    border-radius: 15px; 
    padding: 8px 12px; 
    margin: 0 0 0 10px;
}

.premium {
    font-size: 1.4rem;
    border-radius: 15px; 
    padding: 8px 16px; 
    margin: 0 0 0 10px;
}

.navlink{
    font-size: 1.4rem;
    font-weight: "bold";
    color: rgb(223, 223, 223);
}

.navlink2{
    font-size: 1.4rem;
    font-weight: "bold";
    color: gray;
}

.premium{
    font-size: 1.4rem;
    font-weight: 800;
    color: black;
    background-color: #FC9F5B;
}

.premium:hover{
    background-color: #00A375;
}

.navlink:hover{
    color: #00A375;
    cursor: pointer;
}

.navlink2:hover{
    color: #00A375;
    cursor: pointer;
    text-decoration: underline;
}

.navlogo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #00A375;
}

@media only screen and (max-width: 961px) {
    .navmenu {
        position: fixed;
        left: -100%;
        top: 9rem;
        flex-direction: column;
        background-color: #595959;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .navmenu.active {
        left: 0;
    }

    .navitem {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

